*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Segoe UI';
    src: url(fonts/segoeui.ttf) format('truetype');
}

.menu{
    position: fixed;
    background-color: #2571B7;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    animation-fill-mode: forwards;
    font-family: "Segoe UI";
    font-size: 16px;
}

.menu__icon__img{
    color: white;
    font-size: 28px;
    position: relative;
}

.menu__mobile__display{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top:48px;
    width: 130px;
    height: 150px;
    background-color: #2571B7;
    border: white 1px solid;
    opacity: 0;
    visibility: hidden;
}

.menu__icon__img:hover{
    color: rgb(192, 192, 192);
}

.menu__icon:hover + .menu__mobile__display{
    opacity: 1;
    visibility: visible;
}

.menu__logo-img{
    width: 110px;
    height: 50px;
    margin:10px auto;
}

.menu__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menu__item{
    width: 100%;
    list-style: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    text-align: center;
    padding: 3px;
}

.menu__item a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;

}

.menu__button{
    background-color: #002050;
    color: white;
    width: 113px;
    height: 28px;
    font-family: "Segoe UI";
    font-size: 1rem;
    font-weight: 600;
}

/*Hero-Banner*/
.hero-banner{
    width: 100%;
    height: 590px;
    position: relative;
    top: 48px;
    background-image: url("img/banner.png");
    background-position: 35%;
    background-size: 250% 100%;
    background-repeat: no-repeat;
    font-family: "Segoe UI";  
    
}

.hero-banner__content{
    position: relative;
    top:10%;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.hero-banner__content h1{
    font-size: 3rem;
    font-weight: normal;
    color: white;
}

.hero-banner__content h3{
    position: relative;
    top: -50px;
    font-size: 1.5rem;
    font-weight: normal;
    color: white;
    text-align: center;
}

.hero-banner__button{
    width: 188px;
    height: 52px;
    background-color: #00A4EF;
    font-family: "Segoe UI";  
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.hero-banner__img{
    width: 131px;
    height: 39px; 
    position: relative;
    top:30px;
}


@media (min-width:1200px){
    .menu{
        justify-content: space-evenly;
        height: 80px;
        display: flex;
        align-items: center;  
    }
    
    .menu__icon{
        display: none;
    }
    
    .menu__mobile__display{
        opacity: 1;
        visibility: visible;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        left:0px;
        top:0px;
        width: 65%;
        height: 100%;
        border: none;
    }

    .menu__logo-img{
        width: 124px;
        height: 26px;
        margin:0px ;
    }

    .menu__menu{
        width: 50%;
        height: 100%;
    }
    
    .menu__list{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    .menu__item{
        width: 100%;
        border:none;
        font-size: 16px;
    }

    .menu__button{
        width: 138px;
        height: 37px;
        font-size: 16px;
    }

    /*Hero-Banner*/
    .hero-banner{
        width: 100%;
        height: 820px;
        top: 79px;
        background-size: 100% 100%;
    }

    .hero-banner__content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 120px;
        justify-content: space-evenly;
    }

    .hero-banner__content h1{
        font-size: 5rem;
    }

    .hero-banner__content h3{
        font-size: 2rem;
    }

    .hero-banner__button{
        position: relative;
        top:-50px;
        width: 266px;
        height: 67px;
        font-size: 1.8rem;
    }

    .hero-banner__img{
        width: 171px;
        height: 39px; 
        position: relative;
        align-self: flex-end;
        top:30px;
        right: 250px;
    }
}