*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url(fonts/segoeui.ttf) format('truetype');
}

.menu{
    position: fixed;
    background-color: #2571B7;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    animation-fill-mode: forwards;
    font-family: "Segoe UI";
    font-size: 16px;
    z-index: 1;
}

.menu__icon__img{
    color: white;
    font-size: 28px;
    position: relative;
}

.menu__mobile__display{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top:48px;
    width: 130px;
    height: 150px;
    background-color: #2571B7;
    border: rgb(255, 255, 255, 0.5) 1px solid;
    opacity: 0;
    visibility: hidden;
}

.menu__icon__img:hover{
    color: rgb(192, 192, 192);
}

.menu__icon:hover + .menu__mobile__display{
    opacity: 1;
    visibility: visible;
  }

.menu__logo-img{
    width: 110px;
    height: 50px;
    margin:10px auto;
}

.menu__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menu__item{
    width: 100%;
    list-style: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border: rgb(255, 255, 255, 0.5) 1px solid;
    text-align: center;
    padding: 3px;
}

.menu__item a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;

}

.menu__button{
    background-color: #002050;
    color: white;
    width: 113px;
    height: 28px;
    font-family: "Segoe UI";
    font-size: 1rem;
    font-weight: 600;
}

/*########## Hero-Banner ##########*/

.hero-banner{
    width: 100%;
    height: 590px;
    position: relative;
    top: 48px;
    background-image: url("img/banner.png");
    background-position: 35%;
    background-size: 250% 100%;
    background-repeat: no-repeat;
    font-family: "Segoe UI"; 
       
}

.hero-banner__content{
    position: relative;
    top:10%;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.hero-banner__content h1{
    font-size: 3rem;
    font-weight: normal;
    color: white;
}

.hero-banner__content h3{
    position: relative;
    top: -50px;
    font-size: 1.5rem;
    font-weight: normal;
    color: white;
    text-align: center;
}

.hero-banner__button{
    width: 188px;
    height: 52px;
    background-color: #00A4EF;
    font-family: "Segoe UI";  
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.hero-banner__img{
    width: 131px;
    height: 39px; 
    position: relative;
    top:30px;
}

/*########## Intro ##########*/

.intro{
    position: relative;
    top:48px;
    width: 90%;
    margin:60px auto;
    
   
}

.intro__text{
    text-align: center;
    color: #737373;
    font-family: "Segoe UI";
    font-size: 1rem;
}

.intro__text--margin{
    margin-bottom: 35px;
}

/*########## targetBoxes ##########*/

.targetBoxes{
    position: relative;
    top: 48px;
    width: 90%;
    margin: 0 auto;
    font-family: "Segoe UI";
}

.targetBoxes h2{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #2571B7;
    margin-bottom: 27px;
}

.targetBoxes h4{
    text-align: center;
    font-size: 1rem;
    color: #737373;
    margin-bottom: 27px;
}

.targetBoxes__box{
    width: 100%;
    height: 124px;
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.targetBoxes__box__link{
    position: absolute;
    width: 100%;
    height: 124px;
}

.targetBoxes__box__link:active{
    background-color: rgba(0, 0, 0, 0.1);
}

.targetBoxes__box__img{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.targetBoxes__box__img img{
    width: 49px;
    height: 49px;
}

.targetBoxes__box__texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width:75%;
    height: 100%;
    color: white;
}

.targetBoxes__box__texts h3{
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.targetBoxes__box__texts p{
    width: 100%;
    font-size: 0.8rem;
}


.targetBoxes__box--color1{
    background-color:#0072C6;
}

.targetBoxes__box--color2{
    background-color:#2C5898;
}

.targetBoxes__box--color3{
    background-color:#207245;
}

.targetBoxes__box--color4{
    background-color:#CB4A32;
}

.targetBoxes__box--color5{
    background-color:#733781;
}

.targetBoxes__box--color6{
    background-color:#00AFF0;
}

.targetBoxes__box--color7{
    background-color:#094AB2;
}

.targetBoxes__box--color8{
    background-color:#0073C6;
}

.targetBoxes__box--color9{
    background-color:#0093BE;
}

.targetBoxes__box--color10{
    background-color:#5558AF;
}
.targetBoxes__box--display{
    display: none;
}

/*########## services ##########*/

.services{
    position: relative;
    top: 48px;
    width: 90%;
    margin: 40px auto;
    font-family: "Segoe UI";
}

.services h2{
    margin: 30px 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #2571B7;
}

.services__content{
    width: 100%;
    height: 156px;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services__texts{
    width: 72%;
    display: flex;
    flex-direction: column;
}

.services__content img{
    width: 70px;
    height: 70px;

}

.services__texts h4{
    font-size: 1rem;
    margin-bottom: 15px;
}

.services__texts__line{
    display: none;
}

.services__texts p{
    font-size: 0.75rem;
    margin-bottom: 15px;  
    color: #737373;  
}

.services__button{
    width: 82px;
    height: 30px;
    border: 1px solid;
    background-color: white;
    font-size: 0.8rem;
}

.services__color--green{
    border-color:#7FBA00 ;
    color:#7FBA00;
}

.services__color--blue{
    border-color:#00A4EF ;
    color:#00A4EF;
}

.services__color--yellow{
    border-color:#FFB900 ;
    color:#FFB900;
}

.services__line{
    border:2px solid #0000001A ;    
}  

/*########## four-blocks ##########*/

.four-blocks{
    position: relative;
    top: 48px;
    width: 90%;
    margin: 40px auto;
    font-family: "Segoe UI";
}

.four-blocks h2{
    font-size: 1.5rem;
    font-weight: 600;
    color: #2571B7;
    text-align: center;
    margin-bottom:50px ;
}

.four-blocks__blocks{
    width: 100%;
    height: 600px;
}

.four-blocks__block{
    width: 100%;
    height: 150px;
    padding:0 15px;
    margin-top:-3px;
    border: 3px solid #DEDEDE;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.four-blocks__block h4{
    font-size: 1rem;
    font-weight: 600;
    color:#F25022;
    text-align: center;
}

.four-blocks__block p{
    font-size: 0.75rem;
    font-weight: 300;
    color:#737373;
    text-align: center;
}

@media (min-width:1200px){
    .menu{
        justify-content: space-evenly;
        height: 80px;
        display: flex;
        align-items: center;  
    }
    
    .menu__icon{
        display: none;
    }
    
    .menu__mobile__display{
        opacity: 1;
        visibility: visible;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        left:0px;
        top:0px;
        width: 65%;
        height: 100%;
        border: none;
    }

    .menu__logo-img{
        width: 124px;
        height: 26px;
        margin:0px ;
    }

    .menu__menu{
        width: 50%;
        height: 100%;
    }
    
    .menu__list{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    .menu__item{
        width: 100%;
        border:none;
        font-size: 16px;
    }

    .menu__button{
        width: 138px;
        height: 37px;
        font-size: 16px;
    }

   /*########## Hero-Banner ##########*/

    .hero-banner{
        width: 100%;
        height: 820px;
        top: 79px;
        background-size: 100% 100%;
    }

    .hero-banner__content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 120px;
        justify-content: space-evenly;
    }

    .hero-banner__content h1{
        font-size: 5rem;
    }

    .hero-banner__content h3{
        font-size: 2rem;
    }

    .hero-banner__button{
        position: relative;
        top:-50px;
        width: 266px;
        height: 67px;
        font-size: 1.8rem;
    }

    .hero-banner__img{
        width: 171px;
        height: 39px; 
        position: relative;
        align-self: flex-end;
        top:30px;
        right: 250px;
    }

    /*########## Intro ##########*/

    .intro{
        position: relative;
        top:96px;
        margin:60px auto;
        width:83.4%;
       
    }
    
    .intro__text{
        text-align: center;
        color: #737373;
        font-family: "Segoe UI";
        font-size: 1.25rem;
    }
    
    .intro__text--margin{
        margin-bottom: 35px;
    }

    #intro__text--color{
        color: #F25022;
    }

    /*########## targetBoxes ##########*/

    .targetBoxes{
        top: 96px;
    }
    
    .targetBoxes h2{
        font-size: 2.5rem;
    }
    
    .targetBoxes h4{
        font-size: 1.25rem;
        margin-bottom: 35px;
    }

    .targetBoxes__boxes{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .targetBoxes__box{
        width: 45%;
        height: 120px;
        margin-bottom: 20px;
    }
    
    .targetBoxes__box__link{
        width: 45%;
        height: 120px;
    }
    
    .targetBoxes__box__link:hover{
        background-color: rgba(0, 0, 0, 0.1);
    }
    
    .targetBoxes__box__img{
        width: 10%;
    }

    .targetBoxes__box__img img{
        width: 64px;
        height: 64px;
    }
 
    .targetBoxes__box__texts h3{
        font-size: 1.25rem;
    }
    
    .targetBoxes__box__texts p{
        font-size: 1.1rem;
    }

    .targetBoxes__box--display{
        display: flex;
    }

    /*########## services ##########*/

    .services{
        top: 96px;
    }
    
    .services h2{
        font-size: 2.5rem;
    }

    .services__cards{
        display: flex;
        height: 413px;
    }
      
    .services__content{
        width: 25%;
        height: 100%;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    
    .services__texts{
        width: 100%;
    }
    
    .services__content img{
        width: 160px;
        height: 160px;
    }
    
    .services__texts h4{
        font-size: 1.25rem;
        text-align: center;
    }

    .services__texts__line{
        display: inline;
        border:2px solid #0000001A ;
        width: 50px;
        margin: 0 auto;
    }
    
    .services__texts p{
        font-size: 1rem;
        text-align: center;
        margin: 15px auto;
    }
    
    .services__button{
        width: 110px;
        height: 41px;
        font-size: 1rem;
        margin:30px auto 0;
    }
    
    .services__line{
        display: none;
        border:2px solid #0000001A ;
    }

    /*########## four-blocks ##########*/

    .four-blocks{
        top: 96px;
        margin-top:90px;
    }

    .four-blocks h2{
        font-size: 2.5rem;
    }

    .four-blocks__blocks{
        width: 100%;
        height: 224px;
        display: flex;
    }

    .four-blocks__block{
        height: 100%;
        margin-top:3px;
        margin-left:-4px;
        padding: 0;
        border: 4px solid #DEDEDE;
    }

    .four-blocks__block h4{
        font-size: 1.25rem;
        font-weight: 600;
        color:#F25022;
        text-align: center;
    }

    .four-blocks__block p{
        width: 70%;
        font-size: 1rem;
        font-weight: 300;
        color:#737373;
        text-align: center;
    }

    
    }

